@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL CONFIG */
html,
body,
#root,
.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: rgb(36,33,60);
  background: linear-gradient(90deg, rgba(36,33,60,1) 0%, rgba(47,28,47,1) 60%);
  @apply text-white;
}